@keyframes Skeleton-wave {
  to {
    background-position: 100vw 0;
  }
}

.Skeleton-anim-wave {
  display: block;
  background-color: #DDD;
  background-image: linear-gradient(to right, #DDD 0%,#DDD 48%,#FFF 50%,#DDD 52%,#DDD 100%);
  background-repeat: no-repeat;
  border-radius: 4px;
  line-height: 1;
  animation: Skeleton-wave 3s ease-in-out infinite;
}